/* RESET */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button {
  border: 0;
  background-color: unset;
  cursor: pointer;
}

ol,
ul {
  list-style-type: none;
}

/* APP STYLES */

.body {
  background-color: lightsalmon;
}

/* ALERTS */

#alert {
  display: none;
}

/* HEADER */

#title {
  text-decoration: underline double;
}

#todoInput {
  border: none;
}

#addBtn,#clearBtn {
  color: lightsalmon;
  border: none;
  background-color: lightsalmon;
}

#addBtn:hover,
#clearBtn:hover {
  color: lightsalmon !important;
  background-color: black;
  border: 2px solid salmon;
  transition: 1s;
}

#taskId {
  display: none;
}


