@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@400;700&family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');

/* RESET */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button {
  border: 0;
  background-color: unset;
  cursor: pointer;
}

ol,
ul {
  list-style-type: none;
}

/* APP STYLES */

.body {
  background-color: lightsalmon;
  font-family: "Roboto", sans-serif;
}

/* ALERTS */

#alert {
  display: none;
}

/* HEADER */

#title {
  text-decoration: underline double;
}

#todoInput {
  border: none;
}

#addBtn,#clearBtn {
  color: lightsalmon;
  border: none;
  background-color: lightsalmon;
}

#addBtn:hover,
#clearBtn:hover {
  color: lightsalmon !important;
  background-color: black;
  border: 2px solid salmon;
  transition: 1s;
}

/* MAIN */

#taskId {
  display: none;
}

#text {
  color: lightgreen;
}


.text-decoration-line-through {
  text-decoration: line-through;
  color: red !important;
}

#checkbox {
  height: 20px;
  width: 20px;
}