/* RESET */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button {
  border: 0;
  background-color: unset;
  cursor: pointer;
}

ol,
ul {
  list-style-type: none;
}

/* APP STYLES */

.body {
  background-color: lightsalmon;
}

/* ALERTS */

#alert {
  display: none;
}

/* HEADER */

#title {
  text-decoration: underline double;
}

#todoInput {
  border: none;
}

#addBtn,#clearBtn {
  color: lightsalmon;
  border: none;
  background-color: lightsalmon;
}

#addBtn:hover,
#clearBtn:hover {
  color: lightsalmon !important;
  background-color: black;
  border: 2px solid salmon;
  transition: 1s;
}

#taskId {
  display: none;
}


.text-decoration-line-through {
  text-decoration: line-through;
}

.checkbox-container {
  display: block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
}

.checkbox-input {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

.checkbox-input:checked ~ .checkmark svg {
  display: block;
}

.checkmark svg {
  display: none;
  position: absolute;
  top: 5px;
  left: 5px;
}

